@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root,
  .light {
    --blue: 210 76% 49%;
    --blue-foreground: 220 60% 99%;
    --red: 0 76% 49%;
    --red-foreground: 0 60% 99%;

    --primary: 210 100% 56%;
    --primary-foreground: 210 0% 100%;
    --primary-dark: 210 100% 46%;
    --primary-light: 210 100% 66%;

    --foreground: 0 0% 11%;
    --foreground-light: 0 0% 21%;
    --foreground-lighter: 0 0% 31%;

    --background: 0 0% 94%;

    --border: 0 0% 84%;
    --border-foreground: 0 0% 17%;

    --card: 0 0% 90%;
    --card-foreground: var(--foreground);

    --success: 135 50% 40%;
    --success-foreground: 0 0% 100%;

    --warning: 35 100% 40%;
    --warning-foreground: 0 0% 100%;

    --error: 0 100% 40%;
    --error-foreground: 0 70% 100%;
  }

  .dark {
    --foreground: 0 0% 94%;
    --foreground-light: 0 0% 84%;
    --foreground-lighter: 0 0% 74%;

    --background: 0 0% 11%;

    --border: 0 0% 20%;
    --border-foreground: 0 0% 98%;

    --card: 0 0% 15%;
    --card-foreground: var(--foreground);

    --success: 135 50% 40%;
    --success-foreground: 0 0% 90%;

    --warning: 35 100% 45%;
    --warning-foreground: 0 0% 90%;

    --error: 0 100% 50%;
    --error-foreground: 0 70% 90%;
  }

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
}
